<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF=8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    <form  th:action="@{/customerAccountView}" >
        <input type="text" th:name="login"/>
        <input type="text" th:name="password"/>
        <button type="submit" class="btn btn-default">Zaloguj sie</button>
    </form>



</div>
</body>
</html>