<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employee Account View</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF=8"/>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
  <script th:src="@{webjars/jquery/3.6.0/jquery.min.js}"></script>
  <script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">

  <p><a href="/readAllCustomerAccount">Pokaz dane wszystkich klientow</a></p>
  <p><a href="/readIndividualCustomerForm">Pokaz dane pojedynczego klienta</a></p>
  <p><a href="/readAllBankAccounts">Pokaz wszystkie konta bankopwe</a></p>
  <p><a href="/readIndividualBankForm">Pokaz wszystkie konta bankopwe danego klienta</a></p>
  <p><a href="/approveAccountForm">zatwierdz konto</a></p>
  <p><a href="/notApprovedAccounts">Pokaz liste kont czekajacych na potwierdzenie</a></p>
  <p><a href="/mainMenu">powrot do menu gownego</a></p>






</div>
</body>
</html>