<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Account View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF=8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">

    <p><a href="/bankAccountList">Lista twoich kont</a></p>
    <p><a href="/newAccount">Aplikuj po nowe konto bankowe</a></p>
    <p><a href="/changePersonalDetailsForm">Zmien swoje dane</a></p>
    <p><a href="/mainMenu">Powrot do glownego menu</a></p>

</div>
</body>
</html>